<!DOCTYPE html>
<!--
	24 News by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en" class="no-js">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đinh Thanh Minh</title>
    <link href="css/media_query.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="css/owl.theme.default.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link href="css/style_1.css" rel="stylesheet" type="text/css"/>
    <!-- Modernizr JS -->
    <script src="js/modernizr-3.5.0.min.js"></script>
</head>
<body>
<div class="container-fluid fh5co_header_bg">
    <div class="container">
        <div class="row">
            <div class="col-12 fh5co_mediya_center"><a href="#" class="color_fff fh5co_mediya_setting"><i
                            class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;Friday, 5 January 2018</a>
                <div class="d-inline-block fh5co_trading_posotion_relative"><a href="#" class="treding_btn">Trending</a>
                    <div class="fh5co_treding_position_absolute"></div>
                </div>
                <a href="#" class="color_fff fh5co_mediya_setting">Instagram’s big redesign goes live with black-and-white app</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 fh5co_padding_menu">
                <img src="images/logo.png" alt="img" class="fh5co_logo_width"/>
            </div>
            <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                <div class="text-center d-inline-block">
                    <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-search"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a href="https://twitter.com/fh5co" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div></a>
                </div>
                <div class="text-center d-inline-block">
                    <a href="https://fb.com/fh5co" target="_blank" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div></a>
                </div>
                <!--<div class="d-inline-block text-center"><img src="images/country.png" alt="img" class="fh5co_country_width"/></div>-->
                <div class="d-inline-block text-center dd_position_relative ">
                    <select class="form-control fh5co_text_select_option">
                        <option>English </option>
                        <option>French </option>
                        <option>German </option>
                        <option>Spanish </option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="#"><img src="images/logo.png" alt="img" class="mobile_logo_width"/></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/blog">Blog <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="single.html">Single <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">World <span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                            <a class="dropdown-item" href="#">Action in</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton3" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Community<span class="sr-only">(current)</span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                            <a class="dropdown-item" href="#">Action in</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="Contact_us.html">Contact <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">News</div>
                </div>
                <div class="owl-carousel owl-theme" id="slider2">
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="https://images.squarespace-cdn.com/content/v1/5cc1b3f1e1fe1400019cb83e/1616855556273-YDVMOXYG2QKNVPV9UP37/Hanoi-Vietnam-Images-Continent-Hop-12.jpg?format=2500w" alt=""/></div>
                            <div>
                                <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">Pho Bo (Beef Pho) or Pho Ga (Chicken Pho) are the 2 main types of Pho found everywhere as breakfast and make for a really good, filling start to the day</span></a>
                                <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="https://images.squarespace-cdn.com/content/v1/5cc1b3f1e1fe1400019cb83e/1616874477026-MYJ40GKITTIOIEGTHQRE/Hanoi-Vietnam-Images-Continent-Hop-22.jpg?format=2500w" alt=""/></div>
                            <div>
                                <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">There’s Bun Cha, Cha Ca, Banh Mi, Banh Xeo, Goi Cuon, Cao Lau….the options are endless!</span></a>
                                <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="https://amazingthingsinvietnam.com/wp-content/uploads/2019/01/hanoi-travel-guide-from-a-to-z-amazingthingsinvietnam01.jpg" alt=""/></div>
                            <div>
                                <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">Hanoi is famous for its thousand years of history and culture with many ancient architectures. If you have visited the capital, you surely cannot forget the beautiful and unique of it. Why don’t we travel to Hanoi in next trip? </span></a>
                                <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="https://amazingthingsinvietnam.com/wp-content/uploads/2019/01/hanoi-travel-guide-from-a-to-z-amazingthingsinvietnam27.jpg" alt=""/></div>
                            <div>
                                <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">Duong Lam ancient village is located in the southern bank of the Red River in Son Tay town, Hanoi, about 50 km from Hanoi. This is the first village to be recognized as the National Cultural History and Cultural Heritage in 2006. </span></a>
                                <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid fh5co_video_news_bg pb-4">
            <div class="container animate-box" data-animate-effect="fadeIn">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-5 pb-2 mb-4  text-white">Video News</div>
                </div>
                <div>
                    <div class="owl-carousel owl-theme" id="slider3">
                        <div class="item px-2">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_hover_news_img_video_tag_position_relative">
                                    <div class="fh5co_news_img">
                                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/ppfusm6vat0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                                    </div>
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide">
                                        <img src="images/ariel-lustre-208615.jpg" alt=""/>
                                    </div>
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide" id="play-video">
                                        <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">
                                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">
                                                <span><i class="fa fa-play"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                        <span class="">The top 10 funniest videos on YouTube </span></a>
                                    <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                                </div>
                            </div>
                        </div>
                        <div class="item px-2">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_hover_news_img_video_tag_position_relative">
                                    <div class="fh5co_news_img">
                                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/1wJsWuJZFwQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_2">
                                        <img src="images/39-324x235.jpg" alt=""/></div>
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_2" id="play-video_2">
                                        <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">
                                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">
                                                <span><i class="fa fa-play"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                        <span class="">The top 10 embedded YouTube videos this month</span></a>
                                    <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                                </div>
                            </div>
                        </div>
                        <div class="item px-2">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_hover_news_img_video_tag_position_relative">
                                    <div class="fh5co_news_img">
                                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/Ilui-mb3sT0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_3">
                                        <img src="images/joe-gardner-75333.jpg" alt=""/></div>
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_3" id="play-video_3">
                                        <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">
                                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">
                                                <span><i class="fa fa-play"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                        <span class="">The top 10 best computer speakers in the market</span></a>
                                    <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                                </div>
                            </div>
                        </div>
                        <div class="item px-2">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_hover_news_img_video_tag_position_relative">
                                    <div class="fh5co_news_img">
                                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/u9pi7nFtfNo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_4">
                                        <img src="images/vil-son-35490.jpg" alt=""/>
                                    </div>
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_4" id="play-video_4">
                                        <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">
                                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">
                                                <span><i class="fa fa-play"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                        <span class="">The top 10 best computer speakers in the market</span></a>
                                    <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pb-4 pt-4 paddding">
            <div class="container paddding">
                <div class="row mx-0">
                    <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                        <div>
                            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">News</div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img"><img src="http://www.hanoimoi.com.vn/Uploads/images/phananh/2022/03/10/hoa-man.jpg" alt=""/></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7 animate-box">
                                <a href="single.html" class="fh5co_magna py-2"> Mộc mạc ''cao nguyên trắng'' </a> <a href="single.html" class="fh5co_mini_time py-3"> BẢO KHÁNH
                                    dientu@hanoimoi.com.vn
                                </a>
                                <div class="fh5co_consectetur"> (HNMCT) - Nhắc đến Lào Cai, đa phần du khách sẽ nhớ tới thị trấn Sa Pa huyền ảo trong sương. Nhưng có một người “chị em song sinh” khác cũng đẹp không kém, đó là Bắc Hà, được mệnh danh là “cao nguyên trắng” bởi quanh năm được bao phủ bởi hoa lê, hoa mận và mây mù. Sắc trắng mộc mạc trên cao nguyên còn nguyên vẹn vẻ hoang sơ khiến du khách ngẩn ngơ quên lối về mỗi độ xuân sang.
                                </div>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img"><img src="http://www.hanoimoi.com.vn/Uploads/images/trungtruc/2022/03/12/du-lich.jpg" alt=""/></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <a href="single.html" class="fh5co_magna py-2"> Đẩy nhanh tốc độ phục hồi du lịch thích ứng với tình hình mới </a> <a href="#" class="fh5co_mini_time py-3"> HNMO
                                    dientu@hanoimoi.com.vn </a>
                                <div class="fh5co_consectetur"> (HNMO) - Ngày 12-3-2022, Văn phòng Chính phủ ban hành Văn bản số 1560/VPCP-KGVX truyền đạt ý kiến của Phó Thủ tướng Chính phủ Vũ Đức Đam về Chương trình phát triển du lịch Việt Nam giai đoạn 2021-2026.
                                </div>

                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img">
                                        <img src="http://www.hanoimoi.com.vn/Uploads/images/phananh/2022/03/10/bacha.jpg" alt=""/>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <a href="single.html" class="fh5co_magna py-2">Những phiên chợ nổi tiếng ở Bắc Hà </a> <a href="#" class="fh5co_mini_time py-3"> BẢO KHA
                                    dientu@hanoimoi.com.vn
                                </a>
                                <div class="fh5co_consectetur"> Q(HNMCT) - Đến huyện Bắc Hà (tỉnh Lào Cai), một trong những hoạt động thú vị mà du khách nên trải nghiệm là tham gia các phiên chợ. Nơi đây có các phiên chợ luân phiên diễn ra vào các ngày trong tuần. Vì thế, du khách có thể thoải mái lựa chọn phiên chợ thích hợp với thời gian, sở thích và nhu cầu của mình để hiểu hơn về văn hóa sở tại.
                                </div>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col-md-5">
                                <div class="fh5co_hover_news_img">
                                    <div class="fh5co_news_img"><img src="http://www.hanoimoi.com.vn/Uploads/images/phananh/2022/03/10/bali1.jpg" alt=""/></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <a href="single.html" class="fh5co_magna py-2"> Thiên đường biển xanh Nusa Penida </a> <a href="#" class="fh5co_mini_time py-3"> TRẦN HỒNG NGỌC
                                    dientu@hanoimoi.com.vn
                                </a>
                                <div class="fh5co_consectetur"> (HNMCT) - Nằm cách Bali 25km và 40 phút đi tàu, Nusa Penida là hòn đảo thiên đường của Bali khi vẫn giữ nguyên nét hoang sơ, thiên nhiên hùng vĩ và những bãi biển tuyệt đẹp. Tới Nusa Penida, bạn hãy tạm để lại cuộc sống nhộn nhịp ồn ào đằng sau để tận hưởng bầu không khí đậm vị biển và khoáng đạt, vùng vẫy giữa làn nước trong veo và đắm mình giữa núi đồi bao la.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                        <div>
                            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="fh5co_tags_all">
                            <a href="#" class="fh5co_tagg">vietnam</a>
                            <a href="#" class="fh5co_tagg">travel</a>
                            <a href="#" class="fh5co_tagg">hanoi</a>
                            <a href="#" class="fh5co_tagg">dulichhanoi</a>
                            <a href="#" class="fh5co_tagg">vedephanoi</a>
                            <a href="#" class="fh5co_tagg">phoco</a>
                            <a href="#" class="fh5co_tagg">hoian</a>
                            <a href="#" class="fh5co_tagg">langbac</a>
                            <a href="#" class="fh5co_tagg">banhmihanoi</a>
                            <a href="#" class="fh5co_tagg">phohanoi</a>
                            <a href="#" class="fh5co_tagg">chua1cot</a>
                            <a href="#" class="fh5co_tagg">aloalo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-2 pb-4">
            <div class="col-12 col-md-8 col-lg-7 ">
                <div class="input-group">
                    <span class="input-group-addon fh5co_footer_text_box" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control fh5co_footer_text_box" placeholder="Enter your email..." aria-describedby="basic-addon1">
                    <a href="#" class="input-group-addon fh5co_footer_subcribe" id="basic-addon12"> <i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid fh5co_footer_right_reserved">
    <div class="container">
        <div class="row  ">
            <div class="col-12 col-md-6 py-4 Reserved"> © Copyright 2018, All rights reserved. Design by <a href="https://freehtml5.co" title="Free HTML5 Bootstrap templates">FreeHTML5.co</a>. </div>
            <div class="col-12 col-md-6 spdp_right py-4">
                <a href="index.html" class="footer_last_part_menu">Home</a>
                <a href="Contact_us.html" class="footer_last_part_menu">About</a>
                <a href="Contact_us.html" class="footer_last_part_menu">Contact</a>
                <a href="blog.html" class="footer_last_part_menu">Latest News</a></div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Main -->
<script src="js/main.js"></script>

</body>
</html>